:root {
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --black: black;
    --ocean: #404bbf;
    --white: #ffffff;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --green: #31d0aa;
    --lightslate: #8e8f99;
    --navybluemodal: #2e2f42;
    --grey: #2e2f42;
    --dairy: #fcfcfc;
    --transition-duration: 250ms;
    --animation-timing-function: cubic-bezier(0, .76, .18, 1);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;


}

h1,

h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}


body {

    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0;

}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}



.section {
    padding: 120px 0px;

}


.main-header-nav .logo-class {
    color: var(--navyblue);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */

    text-transform: uppercase;

}

.main-header .main-header-menu-link,
.address-list-link,
.address-list-tel {
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.iris {
    color: var(--iris);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercas
}



/* header part */

.main-header {
    width: 100%;
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
    padding: 24px 0px;
    position: relative;

}


.main-header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.main-header-nav {
    display: flex;
    color: var(--navyblue, #2E2F42);
    font-style: normal;
    justify-content: space-between;

    align-items: center;
    gap: 76px;


}



.main-header-menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;

}

.main-header-menu li {
    position: relative;

}

.main-header-menu li::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 0%;
    height: 4px;
    border-radius: 2px;
    background: var(--iris);
    transition: width var(--transition-duration) var(--animation-timing-function);
}

.main-header-menu li a {
    font-size: 16px;
    font-weight: 500;
    color: var(--navyblue);
    transition: color var(--transition-duration) var(--animation-timing-function);
}

.main-header-menu li:hover a,
.main-header-menu li:hover::after {
    color: var(--iris);
    width: 100%;
}

.main-header-menu li.active a,
.main-header-menu li.active::after {
    color: var(--iris);
    width: 100%;
}

.address {
    display: flex;
    align-items: center;
    gap: 40px;

}

.address a {
    font-style: normal;
    color: var(--navyblue);
}

main {
    display: block;
    width: 100%;
}

.hero-section {
    padding: 188px 0 188px 0px;
    background: var(--navyblue);


}

.hero-background {


    background: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url('./../images/people-office-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    background-size: cover;
}


.hero-section-container {
    align-items: center;

    flex-direction: column;
    height: auto;

}

.hero-title {
    color: var(--white);
    text-align: center;
    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 107.143% */
    letter-spacing: 1.12px
}

/* for botton order service */


.hero-section-container button:hover {
    background: var(--ocean);
}


.button-order-service {
    font-size: 16px;
    font-weight: 500;
    padding: 16px 32px;
    text-transform: capitalize;
    border-radius: 4px;
    color: var(--white);
    background: var(--iris);
    line-height: 24px;
    letter-spacing: 0.64px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 48px auto 0;
}

.main-header-menu-link:hover,
.address-list-link:hover,
.address-list-tel:hover {
    color: var(--ocean);
}





/* for 1st content */

.content-about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-content-row {

    width: calc((100% - 72px) / 4);
}

.main-content-row h3 {
    color: var(--navyblue);
    /* Header 3 */

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
    /* corrected */
    margin-bottom: 8px;
}

.main-content-row p {
    color: var(--navyblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}



.about-list-icon {
    display: flex;
    height: 112px;
    border-radius: 4px;
    background: var(--cloud);
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

/* for what are we doing section */
.services-section {
    width: 100%;
    padding-bottom: 120px;
}

.services-container {
    max-width: 1200px;
    margin: 0 auto;


}


.services-title {
    color: var(--navyblue);
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    /* corrected */
    margin-bottom: 72px;
}


.services-container .services-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.services-list li img {
    width: 360px;
    height: 300px;

    border: 1px solid var(--cornflower, #E7E9FC);
    background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}



/* for team section */

.section-title {
    color: var(--navyblue);
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    /* corrected */
    margin-bottom: 72px;
}

.section-teams {
    padding: 80px 20px;
    background-color: var(--cloud);
}

.teams-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.teams-list-images {
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100%-72px) / 4);
}

.team-list-images {
    order: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
}

.team-content {

    padding: 32px 16px;
}

.team-name {
    letter-spacing: 0.02em;
    line-height: 1.5em;
    font-weight: 500;
    font-size: 20px;
    font-family: Roboto;
    color: var(--navyblue);
    text-align: center;
    margin-bottom: 8px;
}

.team-position {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: var(--slate);
    text-align: center;
    margin-bottom: 8px;
}

.team-list-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 20px;
}

.team-link-icon:hover,
.team-link-icon:focus {
    background-color: var(--ocean);
}

.team-icon {
    fill: var(--cloud);
}

/* for customer logos */



/* for footer */
.customers {
    padding-bottom: 72px;
    color: var(--color-navy-blue);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.customers-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px
}

.customer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    color: var(--slate);
    border-radius: 4px;
    border: 1px solid var(--lightslate);
}

.customer-item svg {

    fill: var(--lightslate);
}

.customer-item:hover {
    border-color: var(--ocean);
    fill: var(--ocean);
}

.customer-item:hover svg {

    fill: var(--ocean);
}

.footer {


    background-color: var(--navyblue);
    padding: 100px 0;
}

.footer-container {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
}

.footer-logo-text {
    margin-right: 120px;
}

.web {
    color: var(--iris);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
}

.cloud {
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-paragraph {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: var(--cloud);
    width: 264px;
    margin-left: auto;
    margin-right: auto;
}


.footer-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.footer-list-item {


    flex-direction: column;
    gap: 10px;


}

.footer-list-item h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: var(--white);
}

.footer-list-item p {
    color: var(--cloud);
    letter-spacing: 0.32px;
    line-height: 24px;
}


.footer-list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.footer-social-lists {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-item a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--iris);
    border-radius: 50%;
}

.footer-social-item a:hover {
    background: var(--green);
}

.footer-social-item a svg {
    fill: var(--white);
}

/* portfolio-css */

.section-porfolio {
    width: 100%;
    padding: 96px 0 120px;
}

.portfolio-container {
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio-filter-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.portfolio-filter-list .portfolio-class-button {
    font-size: 16px;
    font-weight: 500;
    color: var(--navyblue);
    padding: 12px 24px;
    border-radius: 4px;
    color: var(--iris);
    border: 1px solid var(--cornflower);
    background: var(--cloud);
}

.portfolio-class-button:hover {

    background-color: var(--iris);
    color: var(--white);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border-color: var(--iris);
}

.list-images:hover {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
}


.list-images img {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0px 0px;
}

.content-images-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px 0px;


}

.list-images {


    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background: var(--white);
    border: 1px solid var(--cornflower);
    transition: box-shadow var(--transition-duration);
}

.list-item-figure {
    position: relative;
    overflow: hidden;
}

.list-item-figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.list-item-figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--iris);
    border-radius: 4px 4px 0px 0px;
    padding: 0 24px;
    color: var(--white);
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 24px;
    transition: transform var(--transition-duration) var(--animation-timing-function);
    transform: translateY(100%);
    will-change: transform;
}

.list-images:hover figcaption {
    transform: translateY(0%);
}

.list-images image {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0px 0px;
}

.list-images .list-content {
    margin: 32px 0;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}


.list-content {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.list-content h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: var(--navyblue);
    color: var(--navyblue);
}

.list-content p {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.list-images .list-content {
    margin: 32px 0;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--dairy);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
    opacity: 1;
    pointer-events: auto;
    transition-property: visibility, opacity, transform;
    transition-duration: var(--animation-timing-function);
    transform: none;

}

.modal.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5)
}

.modal.is-hidden .modal-content {
    transform: scale(0.5);
}

.modal-content {
    position: relative;
    width: 528px;
    height: 580px;
    background: var(--white);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    transition: background-color var(--transition-duration) var(--animation-timing-function), color var(--transition-duration) var(--animation-timing-function);

}

.modal-close:hover {
    background-color: var(--ocean);
    color: var(--white);
}

.modal-close svg {
    fill: currentColor;
    transition: fill var(--transition-duration) var(--animation-timing-function);
}